@import "../../helpers/colors.scss";

.landing{
  // ===== GENERALS =====
  h2{
    text-transform: uppercase;
    font-size: 7.2rem;
    p:last-child{
      margin-left: 10rem;
      margin-top: 3rem;
      margin-bottom: 7.5rem;
    }
  }
  .title-strip{
    display: block;
    width: 6.5rem;
    height: 0.5rem;
    margin-bottom: 5rem;
    background-color: $tasty-color-basic;
  }
  .nav-arrow{
    position: fixed;
    width: 5rem;
    height: 5rem;
    background:
            url("../../bag/icons/nav-arrow_icon.png")
            no-repeat;
    background-size: contain;
    right: 5rem;
    bottom: 4rem;
  }

  // ===== INSPIRATION AREA =====
  &__inspiration{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 108.0rem;
    background:
      url("../../bag/images/inspiration_background.png")
      no-repeat;
    // == DESCRIPTION CONTAINER ==
    &__description-container{
      margin-left: 12.0rem;
      &__top{
        &__text{
          p:first-child{
            margin-bottom: 2rem;
          }
          p:last-child{
            margin-top:2rem;
          }
        }
      }
      &__bottom{
        margin-top: 2rem;
        &__btn{
          input{
            width: 4.8rem;
            height: 4.8rem;
            margin-top: 2.6rem;
            margin-right: 2.5rem;
          }
          &__facebook{
            background:
                    url("../../bag/icons/facebook_icon.png")
                    no-repeat;
            background-size: cover;
          }
          &__instagram{
            background:
                    url("../../bag/icons/instagram_icon.png")
                    no-repeat;
          }
          &__twitter{
            background:
                    url("../../bag/icons/twitter_icon.png")
                    no-repeat;
            background-size: contain;
          }
          &__pinterest{
            background:
                    url("../../bag/icons/pinterest_icon.png")
                    no-repeat;
            background-size: cover;
          }
        }
      }
    }
    // TODO: REPLACE "card-container" WITH CAROUSEL
    &__card-container{
      display: block;
      width: 106.0rem;
      height: 47.5rem;
      margin-left: 12rem;
      background-color: blue;
    }
  }

  // ===== HIGHLIGHT AREA =====
  &__highlight{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    width: 100%;
    height: 108.0rem;
    background:
      url("../../bag/images/highlight_background.png")
      no-repeat;

    &__description-container-top{
      &__text{
        p:first-child{
          margin-bottom: 2rem;
        }
        p:last-child{
          margin-top: 2rem ;
        }
      }
    }
    // TODO: REPLACE "card-container" WITH CAROUSEL
    &__card-container{
      display: block;
      width: 106.0rem;
      height: 47.5rem;
      margin-left: 12rem;
      background-color: blue;
    }
  }
}
