@import '../../helpers/color';

@keyframes zoomin {
  0% { transform: scale(1.05, 1.05) }
  50% { transform: scale(1, 1) }
  100% { transform: scale(1.05, 1.05) }
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30rem;
}

.img-inspiration{
  position: absolute;
  z-index:0;
  width: 100%;
  height: 128rem;
  background:
          url("../../bag/images/inspiration_background.png")
          no-repeat;
  animation: 30s ease 0s normal none infinite running zoomin;
}

.img-highlight{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 128rem;
  background:
          url("../../bag/images/highlight_background.png")
          no-repeat;
  animation: 30s ease 0s normal none infinite running zoomin;
}
.landing{
  // ===== INSPIRATION AREA =====
  &__inspiration {
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 128rem;
    // == DESCRIPTION CONTAINER ==
    &__description-container {
      margin-left: 12.0rem;
      &__content {
        &__text {
          p:first-child {
            margin-bottom: 2rem;
          }

          p:last-child {
            margin-top: 2rem;
          }
        }

        &__promo {
          margin-top: 2rem;

          &__btn {
            input {
              width: 4.8rem;
              height: 4.8rem;
              margin-top: 2.6rem;
              margin-right: 2.5rem;
            }

            &__facebook {
              background: url("../../bag/icons/facebook_icon.png") no-repeat;
              background-size: cover;
            }

            &__instagram {
              background: url("../../bag/icons/instagram_icon.png") no-repeat;
            }

            &__twitter {
              background: url("../../bag/icons/twitter_icon.png") no-repeat;
              background-size: contain;
            }

            &__pinterest {
              background: url("../../bag/icons/pinterest_icon.png") no-repeat;
              background-size: cover;
            }
          }
        }
      }
    }
    &__card-container {
      margin-left: 5.6rem;
    }
  }

  // ===== HIGHLIGHT AREA =====
  &__highlight{
    z-index: 5;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    width: 100%;
    height: 128rem;

    &__description-container__content{
      &__text{
        p:first-child{
          margin-bottom: 2rem;
        }
        p:last-child{
          margin-top: 2rem ;
        }
      }
    }
    // TODO: REPLACE "card-container" WITH CAROUSEL
    &__card-container{
      margin-right: 5.6rem;
    }
  }
}