@import '../../../helpers/color';

#no-user{
  padding-bottom: 5rem;
}

#no-user-login:hover{
  background-color: $tasty-color-highlight;
}

.container {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 108.0rem;
  width: 7.2rem;
  left: 0;
  background-color: $tasty-color-gray-two;
  opacity: 0.85;

  &__elements{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    height: 108.0rem;
    margin-top: 10rem;
    margin-bottom: 15rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    &__member{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.2rem;
      height: 4.2rem;
      border: 0.1rem solid $tasty-color-basic;
      border-radius: 3rem;
      p{
        color: $tasty-color-basic;
        font-size: 1.4rem;
      }
    }
    &__home{
      width: 4rem;
      height: 4rem;
      background-image: url("../../../bag/icons/home_icon.png");
    }
    &__search{
      width: 4rem;
      height: 4rem;
      background-image: url("../../../bag/icons/search_icon.png");
    }
    &__wishlist{
      width: 4rem;
      height: 4rem;
      background-image: url("../../../bag/icons/wishlist_icon.png");
    }
    &__lizzy{
      width: 4rem;
      height: 4rem;
      background-image: url("../../../bag/icons/lizzy_icon.png");
    }
    &__write{
      width: 4rem;
      height: 4rem;
      background-image: url("../../../bag/icons/write_icon.png");
    }
    &__option{
      width: 4rem;
      height: 4rem;
      background-image: url("../../../bag/icons/option_icon.png");
    }
    &__logout{
      width: 4rem;
      height: 4rem;
      margin-top: 5rem;
      background-image: url("../../../bag/icons/logout_icon.png");
      &:hover{
        cursor: pointer;
      }
    }
  }
}