@import '../../../helpers/color';

.error-box{
  z-index:5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 40rem;
  padding:1rem;
  background-color: #480404;
}
.login__input-area{
  z-index:5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50rem;
  border-right: 1px solid $tasty-color-basic;
  &__title{
    font-size: 2.4rem;
    text-decoration: underline;
  }

  &__btn{
    margin-top: 5rem;
    &__switch{
      margin-top: 2rem;
    }
  }
}