@keyframes fadeIn {
    0%{opacity: 0.25}
    50%{opacity: 0.90}
    100%{opacity: 1.0}
}

@keyframes enterInText {
    0%{transform: translateX(-50rem)}
    100%{transform: translateX(0px)}
}

.signup{
    z-index:5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    animation: fadeIn 2s;
    // ===== Title Area =====
    &__description-container{
        animation: enterInText 2s;
        margin-right: 10rem;
            &__text{
            p:first-child{
                margin-bottom: 2rem;
            }
            p:last-child{
                margin-top: 2rem ;
            }
        }
    }
}