@import '../../../helpers/color';

.signup__input-area{
  z-index:5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80rem;
  border-left: 1px solid $tasty-color-basic;

  &__title{
    font-size: 2.4rem;
    text-decoration: underline;
  }

  &__btn{
    margin-top: 5rem;

    &__switch{
      margin-top: 2rem;
    }
  }
}