@import '../../helpers/color';

.alert-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  margin-bottom: 3rem;
  background-color: $tasty-color-gray-two;
  opacity: 0.8;
  border: 1px solid $tasty-color-basic;
  border-radius: 1rem;

  &__image{
    &__success{
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 3rem;
      font-weight: bold;
      background:
              url("../../bag/icons/success.png")
              no-repeat;
    }
    &__failed{
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      background:
              url("../../bag/icons/failed.png")
              no-repeat;
    }
  }
}