// ===== PALETTE =====
$tasty-color-basic: #F4EEEB;
$tasty-color-gray-one: #b3afad;
$tasty-color-highlight: #DE7344;
$tasty-color-gray-two: #2F2E2E;
$tasty-color-brown-one: #685045;
$tasty-color-green-one: #24cb3a;