.nav-arrow{
    position: fixed;
    width: 5rem;
    height: 5rem;
    background:
            url("../../../bag/icons/nav-arrow_icon.png")
            no-repeat;
    background-size: contain;
    right: 5rem;
    bottom: 4rem;
}